<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fingerprint</title>
    <link rel="stylesheet" type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script type="text/javascript" src="static/scripts/main.js"></script>
    <script type="text/javascript" src="static/scripts/navbar/navbar.js"></script>
    <script type="text/javascript" src="static/scripts/home/home.js"></script>
    <script type="text/javascript" src="static/scripts/fingerprint.js"></script>
    <script type="text/javascript" src="static/scripts/register/register.js"></script>
    <script type="text/javascript" src="static/scripts/auth/auth.js"></script>
</head>
<body>
    <div ng-app="app">
        <navbar></navbar>
        <div ng-view></div>
    </div>
</body>
</html>